<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">

      <h4>Contact Us</h4>
      <ul class="contact-info">
        <li><span class="icon">📍</span> 11 Constitution Street, Tbilisi, Georgia</li>
        <li><span class="icon">📞</span> +995 456 789</li>
        <li><span class="icon">✉️</span> luxeloot&#64;gmail.com</li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Quick Links</h4>
      <ul class="quick-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/cart">Cart</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Follow Us</h4>
      <ul class="social-media">
        <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
        <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
        <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
        <li><a href="https://linkedin.com" target="_blank">LinkedIn</a></li>
      </ul>
    </div>
  </div>


  <div class="footer-bottom">
    <p>&copy; Luxeloot Company. All rights reserved.</p>
  </div>
</footer>

  
