<div class="product-list">
<div class="container">

  <div class="row" [@fadeInDelay]>
      <div class="price-filter">
          <input type="number" class="price" placeholder="Min Price" #minPriceInput>
          <input type="number" class="price" placeholder="Max Price" #maxPriceInput>
          <button class="filter-button" (click)="filterByPrice(+minPriceInput.value, +maxPriceInput.value)">Filter</button>
      </div>

      <div class="categories">
          <select class="categories-filter" (change)="onCategoryChange($event)">
              <option value="" selected>Select Category</option>
              <option value="1">Clothes</option>
              <option value="2">Electronics</option>
              <option value="3">Furniture</option>
              <option value="4">Shoes</option>
              <option value="5">Others</option>
          </select>
      </div>
  </div>

  <div class="products-container" [@fadeIn]>
      <div class="products-card" *ngFor="let product of displayedProducts" (click)="goToProductDetail(product.id)">
          <div class="product">
              <img [src]="product.images [0]" alt="">
              <h3>{{ product.title }}</h3>
              <p><strong>Price:</strong> ${{ product.price }}</p>
          </div>
      </div>
  </div>
  <div class="navigation-arrows" [@fadeInDelay]>
      <i class="fa-solid fa-arrow-left" (click)="previousPage()"></i>
      <i class="fa-solid fa-arrow-right" (click)="nextPage()"></i>
  </div>
</div>
</div>

<app-footer></app-footer>
