.product-list {
  width: 100%;
  height: 140vh;
}

.container {
  width: 100%;
  background-color: rgb(53, 52, 52);
  font-family: "Lato", sans-serif;
}

.products-container {
  margin-top: 50px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  position: absolute;
  top: 70px;
  left: 30%;
}

.row {
  width: 25%;
  height: 400px;
  position: absolute;
  top: 140px;
  left: 2%;
  display: flex;
  gap: 5%;
}

.price-filter {
  display: flex;
  gap: 15px;
  border-radius: 5px;
  flex-direction: column;
}

.price {
  height: 50px;
  border: 1px solid gold;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(35, 35, 35);
}

.filter-button {
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: gold;
  cursor: pointer;
}

.categories-filter {
  height: 50px;
  border-radius: 5px;
  border: 1px solid gold;
  color: #fff;
  width: 100%;
  font-size: 20px;
  outline: none;
}



.products-card {
  width: 15%;
  margin-top: 2%;
  cursor: pointer;
}



.product {
  width: 100%;

}

.product img {
  width: 100%;
  height: auto;
}

.product h3 {
  color: #fff;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.product p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: gold;
}

a {
  color: #fff;
  font-family: "Lato", sans-serif;
}



.navigation-arrows {
  width: 5%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 90px;
  right: 30px;
  color: gold;
}

.fa-arrow-left:hover {
  color: #fff;
}

.fa-arrow-right:hover {
  color: #fff;
}

.navigation-arrows i {
  cursor: pointer;
  font-size: 2rem;
}


.row {
  display: flex;
  flex-direction: column;
}

.col-md-4 {
  width: 20%;
  display: flex;
  flex-direction: column;
}